// VUE MODAL
.modal-mask {
  position: fixed;
  overflow-y: auto;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  transition: opacity .3s ease;
}

.modal-wrapper {
  margin: 2rem;
}

.modal-container {
  position: relative;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  .close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    transition: color 0.6s ease-in-out;
    &:hover {
      color: $primary-color;
    }
  }
}

.modal-content {
  .formblock {
    margin: 1rem;
  }
}

.modal-footer {
  padding: .1rem 1rem 1rem 1rem;
  button {
    width: auto;
  }
}

.modal-open {
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}




