.menu {
  width: 2.6rem;
  height: 1.9rem;
  position: fixed;
  top: 1rem;
  left: 1rem;
  padding: .3rem;
  cursor: pointer;
  border-radius: 3px;
  background: $dark;
  color: #fff;
  opacity: 0.8;
  display: block;
  -webkit-transition: left 500ms cubic-bezier(0.77, 0, 0.175, 1) 300ms;
  -moz-transition: left 500ms cubic-bezier(0.77, 0, 0.175, 1) 300ms;
  -o-transition: left 500ms cubic-bezier(0.77, 0, 0.175, 1) 300ms;
  transition: left 500ms cubic-bezier(0.77, 0, 0.175, 1) 300ms;
  z-index: 50;
}

.menu.active {
  left: 270px;
  transition-delay: 0ms;
  .bars span:nth-child(1) {
    top: .5rem;
    left: 0;
    width: 2rem;
  }

  .bars span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .bars span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .bars span:nth-child(4) {
    top: 18px;
    width: 0;
    left: 50%;
  }
}

.bars {
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.bars span {
  display: block;
  position: absolute;
  width: 2rem;
  opacity: 1;
  left: 0;
  background-color: #fff;
  border-radius: 1px;
  height: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.bars span:nth-child(1) {
  top: 0;
}

.bars span:nth-child(2), .bars span:nth-child(3) {
  top: .5rem;
}

.bars span:nth-child(4) {
  top: 1rem;
}

.sidebar-menu {
  -webkit-backface-visibility: hidden;
  margin-left: -250px;
  left: 0;
  width: 250px;
  opacity: 0.95;
  background: #222;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 50;
  transition: margin-left 500ms cubic-bezier(0.77, 0, 0.175, 1) 0.25s;
  &.open {
    margin-left: 0;
  }
  h5 {
    font-family: 'montserratregular', Helvetica, Arial, sans-serif;
    font-weight: 400;
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-size: 1rem;
    color: $dark-light;
  }
  a {
    color: #beccd0;
    &:hover {
      color: $primary-color;
    }
  }
  img {
    margin: 0 auto;
    width: 150px;
  }
  .img-container {
    text-align: center;
    margin-top: 2rem;
    color: $dark-light;
  }
  .sidebar-nav {
    margin: 0;
    padding: 2rem 0 0 0;
    h5 {
      text-transform: uppercase;
    }
    li {
      line-height: 40px;
      text-indent: 20px;
      a {
        color: #999999;
        display: block;
        &:hover {
          color: #fff;
          background: rgba(255, 255, 255, 0.2);
        }
      }
    }
    .copyright {
      color: #aaa;
      text-indent: 20px;
    }
    .hr {
      border-top: 2px dashed #404040;
    }
  }
}
