table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: $border-width solid $border-color;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: $medium;
}

.scroll {
  width: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

table {
  min-width: 600px;
}

.flexbox-table {
  border: $border-width solid $border-color;
  .list-item {
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
    align-items: center;
    &:nth-child(even) {
      background-color: $medium;
    }
    .title {
      margin-right: auto;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}

