<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <a href="/">Go to Home Page</a>
      </div>
    </div>
    <search-bar></search-bar>
  </div>
</section>
