<template>
    <form class="formblock" action="" method="post" enctype="multipart/form-data" @submit.prevent="onSubmit" @keydown="errors.clear($event.target.name), success.clear()">
        <div class="header">
            <h4>User profile</h4>
        </div>
        <div class="body">
            <div class="form-group">
                <label class="img-upload hover">
                    <p class="error" v-if="errors.has('image')" v-text="errors.get('image')"></p>
                    <div class="img-box">
                        <div class="color-overlay center-hv dark">
                            <h4>Edit</h4>
                        </div>
                        <img class="img-responsive post-img" :src="image_src" alt="">
                    </div>
                    <input type="file" name="image" id="image" ref="image" @change="onFileChange">
                </label>
            </div>
            <div class="form-group">
                <label>Name
                    <p class="error" v-if="errors.has('fullname')" v-text="errors.get('fullname')"></p>
                    <input type="text" name="fullname" v-model="user.fullname">
                </label>
            </div>
            <div class="form-group">
                <label>Title
                    <p class="error" v-if="errors.has('title')" v-text="errors.get('title')"></p>
                    <input type="text" name="title" v-model="user.title">
                </label>
            </div>
        </div>
        <div class="footer">
            <p class="success" v-if="success" v-text="success.message">Success</p>
            <div class="right">
                <button type="submit" id="submit" class="button" :disabled="errors.any()"><i class="fa fa-floppy-o" aria-hidden="true"></i>
                    Update
                </button>
            </div>
        </div>
    </form>
</template>

<script>
    import {Errors} from '../errors';
    import {Success} from '../success';

    export default {
        props: ['user'],
        data () {
            return {
                errors: new Errors(),
                success: new Success(),
                image_src: '/system/users/images/000/000/001/original/' + this.user.image_file_name
            }
        },
        methods: {
            onSubmit() {
                let formData = new FormData();
                formData.append('_method', 'PUT');

                for (let key in this.user) {
                    if (this.user.hasOwnProperty(key) && this.user[key] !== null && this.user[key] !== 'null') {
                        formData.append(key, this.user[key]);
                    }
                }

                axios.post('/users/'+ this.user.id, formData).then(response => {
                    this.success.record(response.data[0].message);
                }, error => {
                    this.errors.record(error.response.data);
                });
            },
            onFileChange(e) {
                let files = this.$refs.image.files;
                if (!files.length) {
                    return;
                }

                this.user.image = files[0];
                this.image_src = URL.createObjectURL(this.user.image);
            }
        }
    }
</script>
