@import 'import';

/* Base Rules */

body {
  color: $dark;
  font-weight: 100;
  font-size: 1.15rem;
  background-color: $light;
}

h1, h2, h3, h4 {
  font-family: 'montserratregular', Helvetica, Arial, sans-serif;
  color: $dark;
}


h1 {
  font-size: 80px;
  line-height: 80px;
  font-weight: 400;
  margin-bottom: 0;
}

h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 30px;
  margin: 0;
}

h3 {
  font-size: 2rem;
}

h4 {
  margin: 0;
  font-weight: 400;
  font-size: 1.15rem;
}

p {
  line-height: 2;
  font-weight: 400;
}

/* Layout Rules */

.title-section {
  margin-bottom: 2rem;
}



/* Themes Rules */
body {
  background-color: #fff;
}

footer {
  background-color: $dark;
}

a {
  text-decoration: none;
  color: $primary-color;
  &:hover {
    color: #000;
  }
}
.light {
  background-color: $light;
}

.super-light {
  background-color: $super-light;
}

.note {
  color: #525252;
  font-size: 0.9rem;
  font-style: italic;
}

.dark {
  h1, h2, h3, h4 {
    color: #fff;
  }
}



.padding-top-super-big {
  padding-top: 6.5rem;
}


.form-group {
  .img-box {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.img-circle-width {
  width: 10rem;
}

/* Module Rules */

.btn-default {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  font-family: 'montserratregular', Helvetica, Arial, sans-serif;
  font-weight: 400;
  background: none;
  border-radius: 3px;
  color: $dark;
  text-transform: uppercase;
  border: 3px solid;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  &:hover {
    background-color: #2F3238;
    border-color: #2F3238;
    color: white;
  }
  &.opposite {
    background-color: #2F3238;
    border-color: #2F3238;
    color: white;
    &:hover {
      background-color: #fff;
      border-color: $dark;
      color: $dark;
    }
  }
}

.color-overlay {
  height: 100%;
  background: $primary-overlay;
}

.img-box {
  position: relative;
  margin-top: .8rem;
  margin-bottom: .8rem;
  img {
    display: block;
    width: 100%;
  }
  .color-overlay {
    opacity: 0;
    &:hover {
      opacity: 1;
    }
  }
}

.formblock {
  border: 1px solid $light-medium;
  border-top: 3px solid $primary-color;
  background-color: #fff;
  margin-bottom: 2rem;
  .header, .body, .footer {
    padding: .7rem;
  }
  .header {
    border-bottom: 1px solid $very-light;
    h4 {
      margin-bottom: 0;
    }
  }
  .footer {
    border-top: 1px solid $very-light;
  }
  label {
    font-weight: 900;
    font-size: .9rem;
  }
  input[type="text"], input[type="password"], input[type="email"], input[type="number"], select, textarea, .input-like {
    min-height: 2rem;
    height: auto;
    margin: 0;
    padding: 10px;
    margin-top: .3rem;
  }
}

#profil, #jobs  {
  .formblock {
    border: 1px solid $light;
    border-top: 3px solid $primary-color;
  }
}

p {
  &.error, &.success {
    margin: 0;
    font-size: .95rem;
  }
}

@media (min-width: $size-sm) {
  .title-section {
    h2 {
      font-size: 40px;
    }
  }
}

@media (min-width: $size-lg) {
  .title-section {
    h2 {
      font-size: 50px;
    }
  }
}

















