/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/* Generated by Font Squirrel (https://www.fontsquirrel.com) on August 14, 2016 */
@font-face {
  font-family: 'montserratblack';
  src: url("../fonts/montserrat/montserrat-black-webfont.woff2") format("woff2"), url("../fonts/montserrat/montserrat-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratbold';
  src: url("../fonts/montserrat/montserrat-bold-webfont.woff2") format("woff2"), url("../fonts/montserrat/montserrat-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratextra_bold';
  src: url("../fonts/montserrat/montserrat-extrabold-webfont.woff2") format("woff2"), url("../fonts/montserrat/montserrat-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrathairline';
  src: url("../fonts/montserrat/montserrat-hairline-webfont.woff2") format("woff2"), url("../fonts/montserrat/montserrat-hairline-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratlight';
  src: url("../fonts/montserrat/montserrat-light-webfont.woff2") format("woff2"), url("../fonts/montserrat/montserrat-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratregular';
  src: url("../fonts/montserrat/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat/montserrat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratsemi_bold';
  src: url("../fonts/montserrat/montserrat-semibold-webfont.woff2") format("woff2"), url("../fonts/montserrat/montserrat-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratultra_light';
  src: url("../fonts/montserrat/montserrat-ultralight-webfont.woff2") format("woff2"), url("../fonts/montserrat/montserrat-ultralight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.row {
  margin-left: -0.8rem;
  margin-right: -0.8rem;
}

[class*="col-"] {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

@media (min-width: 61em) {
  .container {
    width: 50em;
  }
}

@media (min-width: 70em) {
  .container {
    width: 57em;
  }
}

@media (min-width: 78em) {
  .container {
    width: 65em;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col-xs-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.col-xs-11 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 91.66666667%;
          flex: 0 0 91.66666667%;
  max-width: 91.66666667%;
}

.col-xs-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.33333333%;
          flex: 0 0 83.33333333%;
  max-width: 83.33333333%;
}

.col-xs-9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%;
}

.col-xs-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.66666667%;
          flex: 0 0 66.66666667%;
  max-width: 66.66666667%;
}

.col-xs-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.33333333%;
          flex: 0 0 58.33333333%;
  max-width: 58.33333333%;
}

.col-xs-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.col-xs-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.66666667%;
          flex: 0 0 41.66666667%;
  max-width: 41.66666667%;
}

.col-xs-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333333%;
          flex: 0 0 33.33333333%;
  max-width: 33.33333333%;
}

.col-xs-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}

.col-xs-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.66666667%;
          flex: 0 0 16.66666667%;
  max-width: 16.66666667%;
}

.col-xs-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.33333333%;
          flex: 0 0 8.33333333%;
  max-width: 8.33333333%;
}

@media (min-width: 34em) {
  .col-sm-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .col-sm-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66666667%;
            flex: 0 0 91.66666667%;
    max-width: 91.66666667%;
  }
  .col-sm-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333333%;
            flex: 0 0 83.33333333%;
    max-width: 83.33333333%;
  }
  .col-sm-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66666667%;
            flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }
  .col-sm-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333333%;
            flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }
  .col-sm-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66666667%;
            flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
  }
  .col-sm-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333333%;
            flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
  .col-sm-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66666667%;
            flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }
  .col-sm-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333333%;
            flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
  }
}

@media (min-width: 61em) {
  .col-md-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .col-md-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66666667%;
            flex: 0 0 91.66666667%;
    max-width: 91.66666667%;
  }
  .col-md-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333333%;
            flex: 0 0 83.33333333%;
    max-width: 83.33333333%;
  }
  .col-md-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66666667%;
            flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }
  .col-md-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333333%;
            flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }
  .col-md-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66666667%;
            flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
  }
  .col-md-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333333%;
            flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
  .col-md-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66666667%;
            flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }
  .col-md-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333333%;
            flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
  }
}

@media (min-width: 70em) {
  .col-lg-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .col-lg-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66666667%;
            flex: 0 0 91.66666667%;
    max-width: 91.66666667%;
  }
  .col-lg-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333333%;
            flex: 0 0 83.33333333%;
    max-width: 83.33333333%;
  }
  .col-lg-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66666667%;
            flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }
  .col-lg-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333333%;
            flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }
  .col-lg-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66666667%;
            flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
  }
  .col-lg-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333333%;
            flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
  .col-lg-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66666667%;
            flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }
  .col-lg-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333333%;
            flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
  }
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

@media (min-width: 34em) {
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
}

@media (min-width: 61em) {
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
}

@media (min-width: 70em) {
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
}

.col-auto {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.no-flexbox .row:before,
.no-flexbox .row:after {
  content: " ";
  display: table;
}

.no-flexbox .row:after {
  clear: both;
}

.no-flexbox .row {
  *zoom: 1;
}

.no-flexbox .col-xs-1, .no-flexbox .col-xs2, .no-flexbox .col-xs-3, .no-flexbox .col-xs-4, .no-flexbox .col-xs-5, .no-flexbox .col-xs-6, .no-flexbox .col-xs-7, .no-flexbox .col-xs-8, .no-flexbox .col-xs-9, .no-flexbox .col-xs-10, .no-flexbox .col-xs-11, .no-flexbox .col-xs-12, .no-flexbox .col-sm-1, .no-flexbox .col-sm-2, .no-flexbox .col-sm-3, .no-flexbox .col-sm-4, .no-flexbox .col-sm-5, .no-flexbox .col-sm-6, .no-flexbox .col-sm-7, .no-flexbox .col-sm-8, .no-flexbox .col-sm-9, .no-flexbox .col-sm-10, .no-flexbox .col-sm-11, .no-flexbox .col-sm-12, .no-flexbox .col-md-1, .no-flexbox .col-md-2, .no-flexbox .col-md-3, .no-flexbox .col-md-4, .no-flexbox .col-md-5, .no-flexbox .col-md-6, .no-flexbox .col-md-7, .no-flexbox .col-md-8, .no-flexbox .col-md-9, .no-flexbox .col-md-10, .no-flexbox .col-md-11, .no-flexbox .col-md-12, .no-flexbox .col-lg-1, .no-flexbox .col-lg-2, .no-flexbox .col-lg-3, .no-flexbox .col-lg-4, .no-flexbox .col-lg-5, .no-flexbox .col-lg-6, .no-flexbox .col-lg-7, .no-flexbox .col-lg-8, .no-flexbox .col-lg-9, .no-flexbox .col-lg-10, .no-flexbox .col-lg-11, .no-flexbox .col-lg-12 {
  float: left;
  /* for the empty columns to not collapse */
  min-height: 1px;
  padding: 0 0.8rem;
}

.no-flexbox .col-xs-12 {
  width: 100%;
}

.no-flexbox .col-xs-11 {
  width: 91.66666667%;
}

.no-flexbox .col-xs-10 {
  width: 83.33333333%;
}

.no-flexbox .col-xs-9 {
  width: 75%;
}

.no-flexbox .col-xs-8 {
  width: 66.66666667%;
}

.no-flexbox .col-xs-7 {
  width: 58.33333333%;
}

.no-flexbox .col-xs-6 {
  width: 50%;
}

.no-flexbox .col-xs-5 {
  width: 41.66666667%;
}

.no-flexbox .col-xs-4 {
  width: 33.33333333%;
}

.no-flexbox .col-xs-3 {
  width: 25%;
}

.no-flexbox .col-xs-2 {
  width: 16.66666667%;
}

.no-flexbox .col-xs-1 {
  width: 8.33333333%;
}

@media (min-width: 34em) {
  .no-flexbox .col-sm-12 {
    width: 100%;
  }
  .no-flexbox .col-sm-11 {
    width: 91.66666667%;
  }
  .no-flexbox .col-sm-10 {
    width: 83.33333333%;
  }
  .no-flexbox .col-sm-9 {
    width: 75%;
  }
  .no-flexbox .col-sm-8 {
    width: 66.66666667%;
  }
  .no-flexbox .col-sm-7 {
    width: 58.33333333%;
  }
  .no-flexbox .col-sm-6 {
    width: 50%;
  }
  .no-flexbox .col-sm-5 {
    width: 41.66666667%;
  }
  .no-flexbox .col-sm-4 {
    width: 33.33333333%;
  }
  .no-flexbox .col-sm-3 {
    width: 25%;
  }
  .no-flexbox .col-sm-2 {
    width: 16.66666667%;
  }
  .no-flexbox .col-sm-1 {
    width: 8.33333333%;
  }
}

@media (min-width: 61em) {
  .no-flexbox .col-md-12 {
    width: 100%;
  }
  .no-flexbox .col-md-11 {
    width: 91.66666667%;
  }
  .no-flexbox .col-md-10 {
    width: 83.33333333%;
  }
  .no-flexbox .col-md-9 {
    width: 75%;
  }
  .no-flexbox .col-md-8 {
    width: 66.66666667%;
  }
  .no-flexbox .col-md-7 {
    width: 58.33333333%;
  }
  .no-flexbox .col-md-6 {
    width: 50%;
  }
  .no-flexbox .col-md-5 {
    width: 41.66666667%;
  }
  .no-flexbox .col-md-4 {
    width: 33.33333333%;
  }
  .no-flexbox .col-md-3 {
    width: 25%;
  }
  .no-flexbox .col-md-2 {
    width: 16.66666667%;
  }
  .no-flexbox .col-md-1 {
    width: 8.33333333%;
  }
}

@media (min-width: 70em) {
  .no-flexbox .col-lg-12 {
    width: 100%;
  }
  .no-flexbox .col-lg-11 {
    width: 91.66666667%;
  }
  .no-flexbox .col-lg-10 {
    width: 83.33333333%;
  }
  .no-flexbox .col-lg-9 {
    width: 75%;
  }
  .no-flexbox .col-lg-8 {
    width: 66.66666667%;
  }
  .no-flexbox .col-lg-7 {
    width: 58.33333333%;
  }
  .no-flexbox .col-lg-6 {
    width: 50%;
  }
  .no-flexbox .col-lg-5 {
    width: 41.66666667%;
  }
  .no-flexbox .col-lg-4 {
    width: 33.33333333%;
  }
  .no-flexbox .col-lg-3 {
    width: 25%;
  }
  .no-flexbox .col-lg-2 {
    width: 16.66666667%;
  }
  .no-flexbox .col-lg-1 {
    width: 8.33333333%;
  }
}

html {
  height: 100%;
}

.full-height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100%;
}

.full-height section, .full-height main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.semi-bold {
  font-weight: 600;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.hidden {
  display: none;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.hover {
  cursor: pointer;
}

.circle {
  border-radius: 50%;
}

.visible {
  opacity: 1;
}

.invisible {
  opacity: 0;
}

.fadeInOut {
  opacity: 0;
  transition: opacity 1400ms ease-in-out 200ms;
}

.fadeInOut.in-view {
  opacity: 1;
}

.fadeIn {
  opacity: 0;
  transition: opacity 1400ms ease-in-out 200ms;
}

.fadeIn.in-view {
  opacity: 1;
}

.visuallyhidden {
  opacity: 0;
}

.hr {
  display: block;
  width: 100%;
  padding: 0;
  border-top: 2px dashed #dee0e4;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.center-hv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.center-hv-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.center-horizontal, .center-hz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.center-vertical, .center-vt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.self-center-vertical, .self-center-vt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.space-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.space-between {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.padding {
  padding: 1rem;
}

.padding-vertical, .padding-vt {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.padding-horizontal, .padding-hz {
  padding-left: 1rem;
  padding-right: 1rem;
}

.padding-top {
  padding-top: 1rem;
}

.padding-top-big {
  padding-top: 3.5rem;
}

.padding-bottom {
  padding-bottom: 1rem;
}

.padding-bottom-big {
  padding-bottom: 3.5rem;
}

.margin-top {
  margin-top: 1rem;
}

.margin-top-big {
  margin-top: 3.5rem;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.margin-bottom-big {
  margin-bottom: 3.5rem;
}

.margin-left {
  margin-right: .5rem;
}

.margin-right {
  margin-right: .5rem;
}

/*CLEARFIX*/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/*FLOAT START*/
.float:before, .float:after {
  content: " ";
  display: table;
}

.float:after {
  clear: both;
}

.float {
  *zoom: 1;
}

.float .left {
  float: left;
}

.float .right {
  float: right;
}

img.desaturate {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-filter: gray;
          filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}

@media (max-width: 20em) {
  .hidden-xs {
    display: none;
  }
}

@media (min-width: 34em) and (max-width: 61em) {
  .hidden-sm {
    display: none;
  }
}

@media (min-width: 61em) and (max-width: 70em) {
  .hidden-md {
    display: none;
  }
}

@media (min-width: 70em) {
  .hidden-lg {
    display: none;
  }
}

.error {
  color: red;
}

.warning {
  color: yellow;
}

.success {
  color: green;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a:active,
a:hover {
  outline-width: 0;
}

[data-aspect-ratio] {
  display: block;
  max-width: 100%;
  position: relative;
}

[data-aspect-ratio]:before {
  content: '';
  display: block;
}

[data-aspect-ratio] > * {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

[data-aspect-ratio="3:1"]:before {
  padding-top: 33.33%;
}

[data-aspect-ratio="2:1"]:before {
  padding-top: 50%;
}

[data-aspect-ratio="16:9"]:before {
  padding-top: 56.25%;
}

[data-aspect-ratio="3:2"]:before {
  padding-top: 66.66%;
}

[data-aspect-ratio="4:3"]:before {
  padding-top: 75%;
}

[data-aspect-ratio="1:1"]:before {
  padding-top: 100%;
}

[data-aspect-ratio="3:4"]:before {
  padding-top: 133.33%;
}

[data-aspect-ratio="2:3"]:before {
  padding-top: 150%;
}

[data-aspect-ratio="9:16"]:before {
  padding-top: 177.77%;
}

[data-aspect-ratio="1:2"]:before {
  padding-top: 200%;
}

[data-aspect-ratio="1:3"]:before {
  padding-top: 300%;
}

.modal-mask {
  position: fixed;
  overflow-y: auto;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity .3s ease;
}

.modal-wrapper {
  margin: 2rem;
}

.modal-container {
  position: relative;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all .3s ease;
}

.modal-container .close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  transition: color 0.6s ease-in-out;
}

.modal-container .close:hover {
  color: #2768B7;
}

.modal-content .formblock {
  margin: 1rem;
}

.modal-footer {
  padding: .1rem 1rem 1rem 1rem;
}

.modal-footer button {
  width: auto;
}

.modal-open {
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.show-more {
  display: none;
  transition: opacity 1400ms ease-in-out 200ms;
}

.show-more.open {
  display: block;
}

.color-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(39, 104, 183, 0.3);
  z-index: 10;
}

.mid-section {
  padding-top: 0;
  padding-bottom: 0;
  height: 28rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mid-section .row {
  z-index: 20;
}

.mid-section.desktop {
  background-attachment: fixed !important;
  background-position: top center !important;
}

@media (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .mid-section {
    background-attachment: scroll !important;
    background-position: center center !important;
  }
}

body.in-transition {
  transition: -webkit-transform 900ms ease;
  transition: transform 900ms ease;
  transition: transform 900ms ease, -webkit-transform 900ms ease;
}

input[type='text'],
input[type='email'],
input[type="password"],
select,
textarea {
  font-size: 16px !important;
}

textarea {
  resize: vertical;
}

input[type="text"], input[type="password"], input[type="email"], input[type="number"], select, textarea, .input-like {
  color: #777;
  background-color: #FFF;
  font-weight: 400;
  display: block;
  width: 100%;
  min-height: 2.8rem;
  border: 1px solid #dee0e4;
  border-radius: 0px;
  box-shadow: none;
  height: auto;
  margin: 0;
  padding: 15px;
  margin-bottom: .3rem;
}

.img-upload input[type="file"] {
  display: none;
}

#submit, input[type=submit] {
  text-transform: uppercase;
  transition: background-color .2s ease-in-out 0s;
  text-align: center;
  border-radius: .2rem;
  border: none;
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.428571429;
  cursor: pointer;
}

.upload-btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: background-color 200ms ease-in-out 0s;
  padding: .5rem;
  border-radius: 0;
  background-color: #dee0e4;
  color: #2F3238;
  cursor: pointer;
  display: block;
}

.upload-btn:hover {
  background-color: #2768B7;
  color: #fff;
}

input, textarea {
  padding: .8rem;
}

.form-group:not(:last-child) {
  padding-bottom: .3rem;
}

.form-group.has-addon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-group.has-addon input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: .8rem;
  border: 0.12rem solid #dee0e4;
  border-right: none;
}

.form-group.has-addon input:focus {
  outline: 0;
  border: 0.12rem solid #2768B7;
  border-right: none;
}

.form-group.has-addon input:focus + span {
  border: 0.12rem solid #2768B7;
  border-left: none;
}

.form-group.has-addon span {
  background-color: #acb1ba;
  padding: 1rem;
  border: 0.12rem solid #dee0e4;
  border-left: none;
}

.menu {
  width: 2.6rem;
  height: 1.9rem;
  position: fixed;
  top: 1rem;
  left: 1rem;
  padding: .3rem;
  cursor: pointer;
  border-radius: 3px;
  background: #2F3238;
  color: #fff;
  opacity: 0.8;
  display: block;
  transition: left 500ms cubic-bezier(0.77, 0, 0.175, 1) 300ms;
  z-index: 50;
}

.menu.active {
  left: 270px;
  transition-delay: 0ms;
}

.menu.active .bars span:nth-child(1) {
  top: .5rem;
  left: 0;
  width: 2rem;
}

.menu.active .bars span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu.active .bars span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.menu.active .bars span:nth-child(4) {
  top: 18px;
  width: 0;
  left: 50%;
}

.bars {
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  position: relative;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}

.bars span {
  display: block;
  position: absolute;
  width: 2rem;
  opacity: 1;
  left: 0;
  background-color: #fff;
  border-radius: 1px;
  height: 4px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.bars span:nth-child(1) {
  top: 0;
}

.bars span:nth-child(2), .bars span:nth-child(3) {
  top: .5rem;
}

.bars span:nth-child(4) {
  top: 1rem;
}

.sidebar-menu {
  -webkit-backface-visibility: hidden;
  margin-left: -250px;
  left: 0;
  width: 250px;
  opacity: 0.95;
  background: #222;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 50;
  transition: margin-left 500ms cubic-bezier(0.77, 0, 0.175, 1) 0.25s;
}

.sidebar-menu.open {
  margin-left: 0;
}

.sidebar-menu h5 {
  font-family: 'montserratregular', Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-size: 1rem;
  color: #777777;
}

.sidebar-menu a {
  color: #beccd0;
}

.sidebar-menu a:hover {
  color: #2768B7;
}

.sidebar-menu img {
  margin: 0 auto;
  width: 150px;
}

.sidebar-menu .img-container {
  text-align: center;
  margin-top: 2rem;
  color: #777777;
}

.sidebar-menu .sidebar-nav {
  margin: 0;
  padding: 2rem 0 0 0;
}

.sidebar-menu .sidebar-nav h5 {
  text-transform: uppercase;
}

.sidebar-menu .sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-menu .sidebar-nav li a {
  color: #999999;
  display: block;
}

.sidebar-menu .sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-menu .sidebar-nav .copyright {
  color: #aaa;
  text-indent: 20px;
}

.sidebar-menu .sidebar-nav .hr {
  border-top: 2px dashed #404040;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 0.12rem solid #dee0e4;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #acb1ba;
}

.scroll {
  width: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

table {
  min-width: 600px;
}

.flexbox-table {
  border: 0.12rem solid #dee0e4;
}

.flexbox-table .list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .5rem 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexbox-table .list-item:nth-child(even) {
  background-color: #acb1ba;
}

.flexbox-table .list-item .title {
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.button {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.428571429;
  background-color: #2768B7;
  transition: all 200ms ease-in-out 0s;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.button a {
  color: #fff;
}

.button:hover {
  background-color: #2F3238;
  color: #fff;
}

.dark {
  background-color: #2F3238;
  color: #fff;
}

.dark a {
  color: #B8B9BC;
}

.dark a:hover {
  color: #2768B7;
}

.dark .button {
  background-color: #2768B7;
  color: #dadada;
}

.dark .button:hover {
  background-color: #fff;
  color: #2768B7;
}

button[disabled] {
  background-color: dimgray;
  cursor: default;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 32px;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2768B7;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 32px;
}

.slider.round:before {
  border-radius: 50%;
}

section.angled {
  position: relative;
  z-index: 1;
}

section.angled.top:before, section.angled.bottom:after,
section.angled.both:before, section.angled.both:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}

section.angled.top:before, section.angled.both:before {
  top: 0;
  -webkit-transform: skewY(2deg);
          transform: skewY(2deg);
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
}

section.angled.bottom:after, section.angled.both:after {
  bottom: 0;
  -webkit-transform: skewY(-2deg);
          transform: skewY(-2deg);
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
}

section.angled-bordered {
  position: relative;
  z-index: 1;
}

section.angled-bordered.top:before, section.angled-bordered.bottom:after,
section.angled-bordered.both:before, section.angled-bordered.both:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}

section.angled-bordered.top:before, section.angled-bordered.bottom:after,
section.angled.both-bordered:before, section.angled-bordered.both:after {
  height: 0%;
  z-index: 10;
  border-top: 2px dashed #dee0e4;
}

section.angled-bordered.top:before, section.angled-bordered.both:before {
  top: 0;
  -webkit-transform: skewY(-2deg);
          transform: skewY(-2deg);
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
}

/* Base Rules */
body {
  color: #2F3238;
  font-weight: 100;
  font-size: 1.15rem;
  background-color: #dee0e4;
}

h1, h2, h3, h4 {
  font-family: 'montserratregular', Helvetica, Arial, sans-serif;
  color: #2F3238;
}

h1 {
  font-size: 80px;
  line-height: 80px;
  font-weight: 400;
  margin-bottom: 0;
}

h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 30px;
  margin: 0;
}

h3 {
  font-size: 2rem;
}

h4 {
  margin: 0;
  font-weight: 400;
  font-size: 1.15rem;
}

p {
  line-height: 2;
  font-weight: 400;
}

/* Layout Rules */
.title-section {
  margin-bottom: 2rem;
}

/* Themes Rules */
body {
  background-color: #fff;
}

footer {
  background-color: #2F3238;
}

a {
  text-decoration: none;
  color: #2768B7;
}

a:hover {
  color: #000;
}

.light {
  background-color: #dee0e4;
}

.super-light {
  background-color: white;
}

.note {
  color: #525252;
  font-size: 0.9rem;
  font-style: italic;
}

.dark h1, .dark h2, .dark h3, .dark h4 {
  color: #fff;
}

.padding-top-super-big {
  padding-top: 6.5rem;
}

.form-group .img-box {
  margin-top: 0;
  margin-bottom: 0;
}

.img-circle-width {
  width: 10rem;
}

/* Module Rules */
.btn-default {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  font-family: 'montserratregular', Helvetica, Arial, sans-serif;
  font-weight: 400;
  background: none;
  border-radius: 3px;
  color: #2F3238;
  text-transform: uppercase;
  border: 3px solid;
  transition: all 0.5s ease 0s;
}

.btn-default:hover {
  background-color: #2F3238;
  border-color: #2F3238;
  color: white;
}

.btn-default.opposite {
  background-color: #2F3238;
  border-color: #2F3238;
  color: white;
}

.btn-default.opposite:hover {
  background-color: #fff;
  border-color: #2F3238;
  color: #2F3238;
}

.color-overlay {
  height: 100%;
  background: rgba(39, 104, 183, 0.3);
}

.img-box {
  position: relative;
  margin-top: .8rem;
  margin-bottom: .8rem;
}

.img-box img {
  display: block;
  width: 100%;
}

.img-box .color-overlay {
  opacity: 0;
}

.img-box .color-overlay:hover {
  opacity: 1;
}

.formblock {
  border: 1px solid #e9ebed;
  border-top: 3px solid #2768B7;
  background-color: #fff;
  margin-bottom: 2rem;
}

.formblock .header, .formblock .body, .formblock .footer {
  padding: .7rem;
}

.formblock .header {
  border-bottom: 1px solid #f2f2f4;
}

.formblock .header h4 {
  margin-bottom: 0;
}

.formblock .footer {
  border-top: 1px solid #f2f2f4;
}

.formblock label {
  font-weight: 900;
  font-size: .9rem;
}

.formblock input[type="text"], .formblock input[type="password"], .formblock input[type="email"], .formblock input[type="number"], .formblock select, .formblock textarea, .formblock .input-like {
  min-height: 2rem;
  height: auto;
  margin: 0;
  padding: 10px;
  margin-top: .3rem;
}

#profil .formblock, #jobs .formblock {
  border: 1px solid #dee0e4;
  border-top: 3px solid #2768B7;
}

p.error, p.success {
  margin: 0;
  font-size: .95rem;
}

@media (min-width: 34em) {
  .title-section h2 {
    font-size: 40px;
  }
}

@media (min-width: 70em) {
  .title-section h2 {
    font-size: 50px;
  }
}
